{% extends "::base.html.twig" %}

{% block title %}Album form{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="route">
        <a href="{{ path('ktu_gallery_homepage') }}">Home</a> &raquo; <a href="#">Album form</a><br/>
        Hint: You will be able to set title photo after you add photos to this album.
    </div>

    {{ form(album_form) }}

{% endblock %}