{% extends "::base.html.twig" %}

{% block title %}Album form{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="w-container">
        <h2 class="section-title">Album form</h2>
        <p class="section-subtitle">
            Hint: You will be able to set title photo after you add photos to this album.
        </p>

    {{ form(album_form) }}
    </div>

{% endblock %}