{% extends "::base.html.twig" %}

{% block title %}User{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="w-container">

        <h2 class="section-title">Your account</h2>
        <p class="section-subtitle">
            Sign in or register
        </p>

        {% block fos_user_content %}{% endblock %}
    </div>
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">Sign in with Facebook</a><br>
{% endblock %}
