{% extends "::base.html.twig" %}

{% block title %}User{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="w-container">

        <h2 class="section-title">Sign in</h2>
        <p class="section-subtitle">
            Sign in to your account
        </p>

        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}