{% extends "KTUGalleryBundle::base.html.twig" %}

{% block title %}User{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/auth-buttons.css') }}">
{% endblock %}

{% block content %}
    <div class="w-container">

        <h2 class="section-title">Your account</h2>
        <p class="section-subtitle">
            Sign in or register
        </p>

        {% block fos_user_content %}{% endblock %}
    </div>
    <div class="w-container">
        <h2 class="section-title">or</h2>

        <a class="btn-auth btn-facebook large" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
            Sign in with <b>Facebook</b>
        </a>
    </div>
{% endblock %}
