{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="form-signin">
    {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}