{% extends "KTUGalleryBundle::base.html.twig" %}

{% block title %}Photo form{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="w-container">
        <h2 class="section-title">Photo(s) form</h2>
        <p class="section-subtitle">
            Hint: Multiple albums can be selected.
        </p>

        {{ form(photo_form) }}
    </div>

{% endblock %}
