{% extends "::base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    <a href="{{ path('nfqakademija_galleryadmin_homepage') }}">Go to administration</a>
{% endblock %}

{% block content %}

Hello hello

{% endblock %}