{% extends "KTUGalleryBundle::base.html.twig" %}

{% block title %}Search{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="w-container">
        <h2 class="section-title">Search</h2>
        <p class="section-subtitle">
            Search photos by tag name
        </p>

        {{ form(search_form) }}
    </div>

{% endblock %}
